@media (max-width: 1250px){
    main {
        padding: 50px;
    }

    header, footer {
        padding: 0 50px;
    }
}

@media (max-width: 850px){
 .header-desktop-img {
    display: none;
  }
   .header-mobile-img {
    display: block;
  }
}

@media (min-width: 850px){
 .header-desktop-img {
    display: block;
  }
  
   .header-mobile-img {
    display: none;
  }
}

@media (min-width: 750px){
    .overlay-navigation{
      display: none;
   }
}

@media (max-width: 750px){
   .nav-button-desktop {
    display: none;
   }

   #overlay {
    flex-direction: column;
   }
}

@media (max-width: 630px){
    header {
        padding: 0 20px;
    }
}

@media (max-width: 500px){
   .header-mobile-img {
    display: none;
  }

      main {
        padding: 50px 20px;
    }
}